body
{
	margin:0;
	padding:0;
	background-color:#131517;
	max-width: 100vw;
	max-height: 100vh;
	overflow: hidden;
	line-height:1.5;
}
nav
{
	background-color: #000;
	height:4em;
	width:100vw;
	position:fixed;
	top:0;
	left:0;
}
h1
{
	margin:0;
	margin-left:2rem;
	display: inline-block;
	color:#fff;
	line-height: 2.4rem;
	margin-top: 0.8rem;
	font-size: 2rem;
	border-bottom: 3px solid #aaa;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color:#ccc;
  display: inline-block; /* For Firefox */
}
.saveButtonLocation
{
	position:fixed;
	height:2rem;
	top: 1rem;
	right: 1rem;
}
.hiddenSave
{
	display:none;
}
canvas
{
	height:100vh;
	width:100vw;
}
.formContainer
{
	position:fixed;
	bottom:0;
	height:auto;
	max-height:7em;
	overflow-y: auto;
	width:100vw;
}
label
{
	color:#fff;
	margin-left:1em;
}